/* Style for Cover part  */
.cover-wrapperw{
    background-image:linear-gradient(to left, rgba(245, 246, 252, 0.4), rgba(144, 242, 255, 0.5)),url('../../images/cover.jpg');
    background-size: cover;
    box-shadow: 0px 16px 24px -3px rgba(41,126,166,1);
}
.carousel{
    box-shadow: 0px 0px 15px 10px #5f5959;
}
.cover-text{
    background-color: rgba(245, 222, 179, 0.377);
    box-shadow: 0px 0px 15px 10px #5f5959;
}

/* style for doctors part a */
.doctors-wrapper{
    background-image:url('../../images/doctors-bg.svg');
    background-attachment: fixed;
    background-size: cover;

}
.doctors-wrapper > h2{
    letter-spacing: 0.5rem;
}
.card{
    transition: 0.2s ease;
    background-color: rgba(29, 49, 46, 0.7);
    color: white;

    border: none;
;
}
.card:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 15px 8px #297EA6;
    background-color: rgba(29, 49, 46, 1);

}