.error-bg{
    background-image: url(../../images/error-bg.svg);
    background-size: cover;
    min-height: 85vh;
}
.error{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    box-shadow: 0px 0px 15px 8px #297EA6;
}